.form {
  display: flex;
  align-items: center;
}

.form input[type='submit'] {
  flex: 1;
}

.btn{
  font-size: 16px;
  /* margin: 10px 10px 0px 10px; */
  margin-top: 1.4%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: green;
  border-radius: 50px;
  box-shadow: 0px 5px 5px #223540;
}

.btn:hover{
  filter:brightness(95%);
}
