.basic-grid{
  display:grid;
  grid-row-gap: 0rem;
  width:100%;
  height:50%;
  grid-template-columns: repeat(auto-fit,minmax(1px,1fr));
}

#nest-title{
  height:50%;
  background-size: 200% 100%;
  background-image: linear-gradient(to left, green 50%, gray 50%);
  overflow:hidden;
  white-space: nowrap;
  border-right: 1px solid;
  border-color: #828282;
  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  transition: background-position 1s;
  border-bottom: 1px groove;
  /* centers the text in the middle of the element vertically and horizontally  */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#nest-title:hover{
  filter:brightness(90%);
}


.default{
  background-size: 200% 100%; /*width=200,height=100*/
  background-image: linear-gradient(to left, green 50%, gray 50%);
  -webkit-transition: background-position .75s;
  -moz-transition: background-position .75s;
  transition: background-position .75s;
}
.is-done{
  background-position: -100% 0%;
}

.not-done{
  background-position: 0% 0%;
}


.firstbench{
  border-top-left-radius: 20px;
}
.lastbench{
  border-top-right-radius: 20px;
}
