<div id="panel">
  <h1>Archived Projects</h1>
  <br />
  <br />
  <div id="archived-container">
    <div class="archived-item" *ngFor="let p of inputtedProjects">
      <div class="archived-project">
        <p class="archproj-info">
          {{p.name}}, {{p.category | uppercase}}, {{p.progbar.num_done/p.progbar.benchmarks.length*100 | number:'1.0-0'}}%
        </p>
        <mat-icon class="restore-btn" (click)="restoreProj(p)">undo</mat-icon>
      </div>
      <hr />
      <div class="benchmark-names">
        <div class="name" *ngFor="let b of p.progbar.benchmarks">
          {{b.title}}, &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
