<app-add-todo (addProj)="addProj()" (sort)="sortProjects($event)"></app-add-todo>
<p *ngIf="projects.length==0" class="hint-text">
    Looks like you don't have any projects started yet. Click the "+" above to add one!
</p>
<div cdkDropList (cdkDropListDropped)="drop($event)" *ngIf="projects.length!=0">
  <div cdkDrag *ngFor="let proj of projects">
    <!-- <p cdkDragHandle style="float:left; z-index:4;">=</p> -->
    <app-todo-item
    [proj]="proj"
    (deleteTodo)="deleteTodo($event)"
    (updateDB)="updateStorage()">
    </app-todo-item>
  </div>
</div>
