<app-add-todo (addProj)="addProj()" (sort)="sortProjects($event)"></app-add-todo>
<div cdkDropList (cdkDropListDropped)="drop($event)">
  <div cdkDrag *ngFor="let proj of projects">
    <!-- <p cdkDragHandle style="float:left; z-index:4;">=</p> -->
    <app-todo-item
    [proj]="proj"
    (deleteTodo)="deleteTodo($event)"
    (updateDB)="updateStorage()">
    </app-todo-item>
  </div>
</div>
<!-- <cdk-drop-list>
  <li cdkDrag>Yes  </li>
  <li cdkDrag> A </li>
  <li cdkDrag>  BB </li>
  <li cdkDrag>  GAjufga </li>
</cdk-drop-list> -->
