#panel{
  background-color: lightgray;
  color: black;
  width: 500px;
  height: 600px;
  box-shadow: 0px 10px 20px gray;

  /* css grid config */
  display: grid;
  grid-template-rows: 9% 9% 13% 4% 0% 45% 0%;
  grid-template-columns: 45% 45%;
  gap: 10px;
  /* column-gap: 10px;
  row-gap: 15px; */
  justify-items: center;
  justify-content: space-around;
  align-items: center;
}

.field{
  height: 10%;
  width: 85%;
  grid-column: 1 / span 2;
}

#datefield{ }
#timefield{ padding-left: 5%; }


.container{
  overflow: scroll;
  background: white;
  grid-column: 1 / span 2;
  width: 85%;
  height: 88%;
}

.bench-edit{
  padding-top: 2%;
}

.input-array{
  width:100%;
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 1fr;
  justify-content: center;
  column-gap: 2%;
  row-gap: 2%;
}
.benchdata{
  width:100%;
}

.del:hover{
  cursor:pointer;
}
#bench-adder{
  width:100%;
  grid-column: 1 / span 4 ;
}
#submit-button{
  height: 30px;
  width: 95%;
  grid-column: 1 / span 2 ;
}
