<div id = "panel">
    <!-- <input name="nameField" type="text" [(ngModel)]="name" placeholder="Project Name"/>
    <input name="categoryField" type="text" [(ngModel)]="category" placeholder="Category Name"/>
    <input name="dateField" type="date" [ngModel]="date | date:'yyyy-MM-dd'" />
    <input name="timeField" type="time" [ngModel]="date | date:'HH:mm'" />
    <input name="benchField" type="text" [(ngModel)]="benchNames" placeholder="Names of benchmarks separated by commas">
    <label>
      Linear Project <input name="orderField" type="checkbox" [(ngModel)]="order" />
    </label> -->
    <mat-form-field class="field">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex. Setup ProjEX" [(ngModel)]="name">
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Category</mat-label>
      <input matInput placeholder="Ex. Sample Category" [(ngModel)]="category">
    </mat-form-field>

    <!-- make these side by side -->
    <div class="field">
      <mat-form-field id="datefield">
        <mat-label>Due Date</mat-label>
        <input matInput type="date" [ngModel]="date | date:'yyyy-MM-dd'">
      </mat-form-field>
      <mat-form-field id="timefield">
        <input matInput type="time" [ngModel]="date | date:'HH:mm'">
      </mat-form-field>
    </div>


    <label class="field">
      Linear Project? <input name="orderField" type="checkbox" [(ngModel)]="order" />
    </label>

    <p class="field">Benchmarks:</p>
    <div class="container">
      <div class="bench-edit" *ngFor="let b of benchmarks">
        <!-- <mat-icon>reorder</mat-icon> -->
          <div class="input-array">
            <input class="benchdata" type="text" [(ngModel)]="b.title"/>
            <input class="benchdata" type="text" [(ngModel)]="b.parts_summary" />
            <input class="benchdata" type="datetime-local" [ngModel]="b.due_date | date:'yyyy-MM-ddTHH:mm'"/>
            <mat-icon id="{{b.id}}" class ="del" (click)="delBench($event)">close</mat-icon>
          </div>
      </div>

      <button id="bench-adder" (click)="addBench()"> + Add a benchmark + </button>
    </div>


    <input id="submit-button" type="submit" value="Create Project" (click)="createProject()"/>
</div>
