.todo {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  border-radius: 40px;
  margin-top:1.5%; /* spaces out the todos */
  margin-left:0.6%;
  margin-right:0.6%;
  height: minmax(260px,auto); /*normalizes project height*/
  box-shadow: 5px 5px #223540;
}

.is-complete {
  text-decoration: line-through;
  background:#a1a1a1;
  filter:brightness(70%);
}

.btn-group{
  width:35px;
}

.btn-group button {
  flex:right;
  display: block; /* Make the buttons appear below each other */
  margin-left: 30%;
}

.bar-container{
  display:flex;
  padding-bottom: 10px;
}

.upcoming-benchmark-info{
  padding-left: 35px;
  font-size: .75rem;
  z-index: 4;
  position: relative;
  top: -6px;
}

#del { /* deleting button */
  background: #ff0000;
  color: #333333;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  float: right;
  margin-right: 1%;
  cursor: pointer;
}
#del:hover{
  background: #c91919;
}
#edit { /* dropdown button */
  width:100%;
  height:45%;
  border: 1px solid;
  margin-top: 20%;
  border-radius: 20%;
}
#done { /* toggling done button*/
  width:100%;
  height:45%;
}

#category{
  padding-left: 35px;
  width: 90%;
  font-weight:bold;
  font-size: 2rem;
  color: #8794a3;
  z-index: 1;
  position: relative;
  top:25px;  /* TODO: sketchy, this controls how close category is to the project name */
}

#recent-warning{
  padding-left: 2%;
  font-weight: bold;
  font-size: 2rem;
  color: #cf2323;
  opacity: 80%;
}

#spacer{
  width:92%;
  justify-content: space-between;
  display:flex;
  align-items:baseline;
  /* flex-wrap:wrap; */
}

#name{
  padding-left: 20px;
  font-size:3.7rem;
  display:inline;
}

#date-info{
  font-size: 1em;
  font-weight:600;
  display:inline;
}

#percent{
  font-size:5em;
  color: rgba(130,130,130,0.2);
}

#progressBar{
  padding-left: 15px;
  width:95%;
}

#separator{
  padding-left: 15px;
  margin: -1% 5% 1% 1%; /*top, right, bottom, left*/
}


/*min-width means that when the browser extends over the given width, the following styles will apply*/
/*max-width means that when the browser extends below the given width, the following styles will apply*/
@media (max-width: 630px) {
  #name{
    padding-left: 20px;
    font-size:2rem;
    display:inline;
  }
  #category{
    padding-left: 35px;
    font-size: 1rem;
    color: #8794a3;
    top:25px;
  }
  #percent{
    font-size: 3rem;
  }
  #progressBar{
    width:90%;
  }
}

@media (max-width: 400px) {
  #name{
    padding-left: 20px;
    font-size:1.5rem;
    display:inline;
  }
  #category{
    padding-left: 35px;
    font-size: .7rem;
    color: #8794a3;
    top:25px;
  }
  #percent{
    font-size: 2rem;
  }
  #progressBar{
    width:70%;
  }
}
