<div [ngClass]="setClasses()"> <!--beginning of project card div-->
  <div>
    <button (click)="onDelete(proj)" id="del">x</button>
    <h2 id="category">{{proj.category | uppercase}}</h2>
    <div id = "spacer">
        <div>
          <h1 id="name">
            {{proj.name}}
          </h1>
          <small id= "date-info">
            DUE: {{proj.due_date | date: 'short'}}
          </small>
        </div>

        <h1 id = "percent">
          {{proj.progbar.num_done/proj.progbar.benchmarks.length*100 | number:'1.0-0'}}%
        </h1>
    </div>
    <hr id="separator" />
    <div class = "bar-container">
      <app-progress-bar [proj]="proj" id="progressBar"></app-progress-bar>
      <!-- done button and edit button stacked on one another -->
      <div class ="btn-group">
        <button (click)="onToggle(proj)" id="done">✅</button>
        <button (click)="onEdit()"id="edit">🔽</button>
      </div>
    </div>
  </div>
</div> <!--end of project card div-->

<!-- Editing Dropdown -->
<div class="dropdown" id="dropdown-container">
      <!-- <div cdkDropList
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let b of this.bar.benchmarks" cdkDrag>{{b.title}}</div>
      </div> -->
  <div [ngClass]="setDropdownClasses()" (cdkDropListDropped)="drop($event)"> <!-- class = "dropdown-content ~show" -->
    <div id="input-array" class="example-box" *ngFor="let b of this.bar.benchmarks" cdkDrag>
      <!-- <hr id = "dd-insert"/> -->
      <input type="text" id="input-text"
      value="{{b.title}}"/>
      <input type="date" id="input-date"
      value="{{b.due_date | date:'y'}}-{{b.due_date | date:'LL'}}-{{b.due_date | date:'dd'}}"/>
      <input type="time" id="input-time"
      value="{{b.due_date | date:'HH'}}:{{b.due_date | date:'mm'}}"/>
    </div>
  </div>
</div>
