.todo {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  border-radius: 40px;
  margin-top:1%; /* spaces out the todos */
  margin-left:0.6%;
  margin-right:0.6%;
  height: minmax(260px,auto); /*normalizes project height*/
  box-shadow: 5px 5px #223540;
}

.is-complete {
  text-decoration: line-through;
  background:#a1a1a1;
  filter:brightness(70%);
}

.btn-group{
  width:35px;
}

.btn-group button {
  flex:right;
  display: block; /* Make the buttons appear below each other */
  margin-left: 30%;
}

.bar-container{
  display:flex;
  padding-bottom: 10px;
}

#del { /* deleting button */
  background: #ff0000;
  color: #333333;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  float: right;
  margin-right: 1%;
}
#del:hover{
  background: #c91919;
}
#edit { /* dropdown button */
  width:100%;
  height:45%;
  border: 1px solid;
  margin-top: 20%;
  border-radius: 20%;
  /* content: "🔽"; */
}
#done { /* toggling done button*/
  width:100%;
  height:45%;
}

#category{
  padding-left: 20px;
  width: 90%;
  font-weight:bold;
  font-size: 2em;
  color: #8794a3;
  z-index: 1;
  position: relative;
  top:25px;  /* TODO: sketchy, this controls how close category is to the project name */
}

#spacer{
  width:92%;
  justify-content: space-between;
  display:flex;
  align-items:baseline;
  /* flex-wrap:wrap; */
}

#name{
  padding-left: 20px;
  font-size:3.7em;
  display:inline;
}

#date-info{
  font-size: 1em;
  font-weight:600;
  display:inline;
}

#percent{
  font-size:5em;
  color: rgba(130,130,130,0.2);
}

#progressBar{
  padding-left: 15px;
  width:95%;
}

#separator{
  padding-left: 15px;
  margin: 0.1% 6% 1% 1%; /*top, right, bottom, left*/
}


/* playing around with dropdowns */
#dd-insert{
  padding: 5px 0px;
  display:none;
}

#input-array{
  display:flex;
  justify-content: space-between;
  width: 60%;
  margin-left: 30px;
}

#input-text{
height:40px;
}
#input-date{
  height:40px;

}
#input-time{
  height:40px;

}

.dropdown {
  position: relative;
  margin-left: 50px;
  width:93%;
  height:0;
  overflow: hidden;
  transition: height 300ms ease;
  z-index: 1; /* TODO: experiment with this for style (maybe -1)*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  width:auto;
  display: none;
  position: relative;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
}

/* Links inside the dropdown */
.drop-item{
  color: black;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  display: block;
  width:100%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.drop-show{
  height:480px; /* TODO: this shit ain't scaleable */
}
