.del {
  background: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  float: right;
  margin-right: 1%;
}

.del:hover{
  background: #c91919;
}

.edit {
  background: #526156;
  color: #fff;
  text-align: center center;
  border: none;
  padding: 5px 11px;
  border-radius: 20%;
}
.edit:hover{
  background:#364038;
}

.done {
  background: #ff0000;
  color: #fff;
  padding: 5px 9px;
  border-radius: 50%;
}
.done:hover{
  background: #ad0202;
}

.todo {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  border-radius: 40px;
  margin-top:10px; /* spaces out the todos */
}

.is-complete {
  text-decoration: line-through;
  background:#a1a1a1;
}

.dateInfo{
  font-size: .3em;
}

#name{
  padding-left: 15px;
  /* border-bottom: 1px solid #999; */
}

#category{
  padding-left: 15px;
  width: 90%;
}

.bar-container{
  display:flex;
  padding-bottom: 10px;
}

#progressBar{
  padding-left: 15px;
  width:95%;
}

.btn-group button {
  flex:right;
  /* float:right; */
  display: block; /* Make the buttons appear below each other */
}
