<div [ngClass]="setClasses()">
  <div>
    <button (click)="onDelete(todo)" class="del">x</button>
    <p id="category">{{todo.category}} {{todo.progbar.num_done/todo.progbar.benchmarks.length*100 | number:'1.0-0'}}%</p>
    <h1 id="name">
      {{todo.name}}
      <small class = "dateInfo">
        DUE:{{todo.due_date.getMonth()+1}}/{{todo.due_date.getDate()}}/{{todo.due_date.getFullYear()}}
              {{todo.due_date.getHours()%12}}:{{todo.due_date.getMinutes()}}
              <!-- {{todo.due_date.shortTime()}} -->
      </small>
    </h1>
    <div class = "bar-container">
      <!-- <app-progress-bar id="progressBar"></app-progress-bar> -->

      <app-progress-bar [proj]="todo" id="progressBar"></app-progress-bar>

      <!-- done button and edit button stacked on one another -->
      <div class ="btn-group">
        <input (change)="onToggle(todo)" type="checkbox" class="done" />
        <button class="edit">...</button>
      </div>
    </div>
  </div>
</div>
