#panel{
  background-color: lightgray;
  color: black;
  width: 600px;
  height: 600px;
  padding-top: 5%;

  /* css grid config */
  display: grid;
  grid-template-rows: 10% 10% 10% 6% 0% 45% 0%;
  grid-template-columns: 45% 45%;
  gap: 13px;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
}

.warning{
  opacity: 90%;
  color: #db4848;
}

.field{
  width: 85%;
  grid-column: 1 /span 2;
}

.datefield{
  grid-column: 0;
}
.timefield{
  grid-column: 2;
}


.container{
  overflow: scroll;
  background: white;
  grid-column: 1 / span 2;
  width: 85%;
  height: 88%;
}

.bench-edit{
  padding-top: 2%;
}

.input-array{
  width:100%;
  display: grid;
  grid-template-columns: 2.3fr 2fr 5fr 1fr;
  justify-content: center;
  column-gap: 2%;
  row-gap: 2%;
}
.benchdata{
  width:100%;
}

.del:hover{
  cursor:pointer;
}
#bench-adder{
  width:100%;
  grid-column: 1 / span 4 ;
}
#submit-button{
  height: 30px;
  width: 95%;
  grid-column: 1 / span 2 ;
}
