<app-add-project (addProj)="addProj()" (sort)="sortProjects($event)"></app-add-project>
<p *ngIf="projects.length==0" class="hint-text">
    Looks like you don't have any projects started yet. Click the "+" above to add one!
</p>
<div cdkDropList (cdkDropListDropped)="drop($event)" *ngIf="projects.length!=0">
  <div cdkDrag *ngFor="let proj of projects">
    <p cdkDragHandle style="float:left; z-index:4; padding-left: 18px; padding-top: 9%;"> ||| </p>
    <!-- <mat-icon cdkDragHandle style="float:left; z-index:4; padding-left: 30px; padding-top: .6%;">reorder</mat-icon> -->
    <app-project-item
    [proj]="proj"
    (deleteTodo)="deleteTodo($event)"
    (updateDB)="updateStorage()">
    </app-project-item>
  </div>
</div>
