<section class="basic-grid">
  <app-benchmark
  *ngFor="let bench of benchmarks"
  [bench]="bench"
  (markUpTo)="markUpTo($event)"
  (markDownTo)="markDownTo($event)">
  </app-benchmark>

  <!-- <app-benchmark></app-benchmark> -->



  <!-- <div id="ck-button">
     <label>
        <input type="checkbox"><span>
        1
        </span>
     </label>
  </div>
  <div id="ck-button">
     <label>
        <input type="checkbox"><span>
        2
        </span>
     </label>
  </div>
  <div id="ck-button">
     <label>
        <input type="checkbox"><span>
        3
        </span>
     </label>
  </div>
  <div id="ck-button">
     <label>
        <input type="checkbox"><span>
        4
        </span>
     </label>
  </div>
  <div id="ck-button">
     <label>
        <input type="checkbox"><span>
        5
        </span>
     </label>
  </div>
  <div id="ck-button">
     <label>
        <input type="checkbox"><span>
        6
        </span>
     </label>
  </div> -->


</section>
