#ck-button {
    width:100%;
    height:auto;
    background-color:#EFEFEF;
    overflow:auto;
    float:left;
    border-right: 1px solid;
}

#ck-button span{
  height:100%;
}

#ck-button label span {
    text-align:center;
    padding:10% 0%; /* TODO: THIS IS VERY SKETCH */
    display: block;
}

#ck-button input {
  -webkit-appearance: none;
    position:absolute;
    top:-20px;
}

#ck-button input + span{
    background-size: 200% 100%; /*width=200,height=100*/
    background-image: linear-gradient(to left, green 50%, gray 50%);
    -webkit-transition: background-position .75s;
    -moz-transition: background-position .75s;
    transition: background-position .75s;
}

#ck-button input:checked + span {
    background-position: -100% 0%;
    color:black;
}
