:root{
  /*    LIGHT MODE    */
  /* --name-color: black;
  --cat-color: #8794a3;
  --percent-color: #828282;
  --background-color: #aeaeae;
  --shadow: #74747e;
  --card: #f4f4f4;
  --gradient-bg: #aaaaaa;
  --bench-text: #353535 ;
  --hint-text:#223540;
  --darkened-bench-text: var(--bench-text); */

  /*    DARK MODE    */
  --name-color: #cecece;
  --cat-color: white;
  --percent-color: white;
  --background-color: #3b3b3b;
  --shadow: black;
  --card: #515151;
  --gradient-bg: #797979;
  --bench-text: #eeeeee ;
  --darkened-bench-text: #353535;
  --hint-text:#cecece;

  --warning-color: #ff2020;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: var(--background-color);
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face{
  font-family: FredokaOne;
  src: url("FredokaOne-Regular.otf") format("opentype");
}

@font-face{
  font-family: Coves;
  src: url("Coves_Light.otf") format("opentype");
}


.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  background-color: rgba(0,0,0,.6);
}
