<div class="project-array">
  <input type="text" [(ngModel)]="proj.name"/>
  <input type="text" [(ngModel)]="proj.category"/>
  <label>
    Linear Project:
    <input type="checkbox" [(ngModel)]="proj.order_matters"/>
  </label>
  <hr />
</div>
<div cdkDropList class="drop-list" (cdkDropListDropped)="drop($event)">
  <div *ngFor="let b of this.benchmarks" >
    <hr id="{{b.id}}" class="dd" (click)="addBench($event)" matTooltip="Click to add a benchmark" /> <!--[matTooltipPosition]="'after'"-->
    <div class="list-box" cdkDrag>
      <mat-icon cdkDragHandle>reorder</mat-icon>
        <div class="input-array">
          <input type="text" class="input-text" [(ngModel)]="b.title"/>
          <input type="text" class="input-text" [(ngModel)]="b.parts_summary" placeholder="Sub-parts go here, separated by commas "/>  <!--(focusout)="myFunction()" used to call a function when focus is lost-->
          <div>
            <input type="date" class="nest-input-date" [ngModel]="b.due_date | date:'yyyy-MM-dd'" (ngModelChange)="b.due_date = $event"/>
            <input type="time" class="nest-input-time" [ngModel]="b.due_date | date:'HH:mm'" (ngModelChange)="b.due_date = $event"/>
          </div>
        </div>
      <!-- <p id="{{b.id}}" class ="del" (click)="delBench($event)">x</p>--> <!--deletion button-->
      <mat-icon id="{{b.id}}" class ="del" (click)="delBench($event)">close</mat-icon>
    </div>
  </div>
  <hr id="{{this.bar.benchmarks.length}}" class="dd" (click)="addBench($event)" matTooltip="Click to add a benchmark" />
</div>
